<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Netflix Recommendation System</title>
</head>

<body>
    <h1>Choose a Recommendation System</h1>
    <br><br>
    <div class="row">
        <div class="option">
            <div class="card option1"></div>
            <h3>Item-based CF</h3>
        </div>
        <div class="option">
            <div class="card option2"></div>
            <h3>User-based CF</h3>
        </div>
        <div class="option">
            <div class="card option3"></div>
            <h3>SVD</h3>
        </div>
        <div class="option">
            <div class="card option4"></div>
            <h3>Content-based</h3>
        </div>
    </div>

</body>

</html>