<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <title>Item-based CF</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
          <h1>Netflix Recommendation System</h1>
        </div>
    </div>
    
    <div class="content">
      <form id="userInputForm">
          <input type="text" placeholder="Enter your prompt..." id="userInput" required>
          <button type="submit">Submit</button>
      </form>
    </div>

</body>
</html>